main {
  background-color: white;
  background-size: cover;
}

.textAboutMe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1em;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

p {
  text-align: center;
  color: rgb(16, 21, 19);
}

.introduction {
  justify-content: space-around;
  padding-top: 20px;
  margin-bottom: 40px;
}

.img {
  margin: auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 1em;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}